{% extends 'projekt/layout.html' %}

    {% block content %}
        <div class="container mt-5">
            <div class="row text-white bg-dark" style="border-radius: 10px; min-height: 500px;">
                <div class="row">
                    <div class="d-flex p-2">
                        <div class="p-2 card deep-dark col-3">
                            <h4>Team 1</h4>
                            <div class="row p-2">
                                {% for player in team1 %}
                                    <div class="card bg-dark p-2 mt-2">
                                        {{ player.user.nickname }}
                                    </div>
                                {% endfor %}
                            </div>
                            <h4 class="mt-4">Team 2</h4>
                            <div class="row p-2">
                                {% for player in team2 %}
                                    <div class="card bg-dark p-2 mt-2">
                                        {{ player.user.nickname }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="mx-4 p-2 card deep-dark col-9">
                            <div>
                                <h4>Assists: </h4>
                                {{ assists.count }}
                            </div>
                            <div class="mt-3">
                                <h4>Kills: </h4>
                                {{ kills.count }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if display_match %}
                <div class="row text-white bg-dark mt-2" style="border-radius: 10px;">
                    <div class="p-2">
                        {% for comment in comments %}
                            <div class="card deep-dark p-2 mb-2">
                                <small style="font-size: 12px;">
                                    {{ comment.user.nickname }}
                                </small>
                                <div style="color: #ababac">
                                    {{ comment.message }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-12 p-2">
                        <div>
                            <form method="post" class="form d-flex flex-row w-100">
                                {% csrf_token %}
                                <input type="text" name="message" class="form-control border-light">
                                <input type="submit" class="btn btn-dark deep-dark" value="Save">
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endblock %}