{% extends 'projekt/layout.html' %}

    {% block content %}
        <div class="container mt-5">
            <div class="row text-white bg-dark" style="border-radius: 10px;">
                <div class="col-2">
                    <a class="btn btn-dark w-100 mt-2 deep-dark" href="/game/matches/{{ match.id }}">Back to match</a>
                    <div class="card deep-dark mt-2 text-center mb-2">
                        <div class="mt-2">
                            <p>Team 1</p>
                            {% for player in team1 %}
                                <div class="card bg-dark" style="height: 30px;">
                                   {{ player.user.nickname }}
                                    {% if player.death %}
                                        <i class="fa-solid fa-skull p-1 px-2 position-absolute end-0"></i>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            {% with ''|center:rest_t1 as range %}
                                {% for _ in range %}
                                    <div class="card bg-dark" style="height: 30px;"></div>
                                {% endfor %}
                            {% endwith %}
                        </div>
                        <div class="mt-2">
                            <p>Team 2</p>
                            {% for player in team2 %}
                                <div class="card bg-dark" style="height: 30px;">
                                    {{ player.user.nickname }}
                                    {% if player.death %}
                                        <i class="fa-solid fa-skull p-1 px-2 position-absolute end-0"></i>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            {% with ''|center:rest_t2 as range %}
                                {% for _ in range %}
                                    <div class="card bg-dark" style="height: 30px;"></div>
                                {% endfor %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
                <div class="col-10 mt-2">
                    <div class="row">
                        <div class="col-4">
                            <div class="card mx-1 p-2 text-center deep-dark">Match played: {{ match.start_date }}</div>
                        </div>
                        <div class="col-4">
                            <div class="card mx-1 p-2 text-center deep-dark">Round: {{ round.id }}</div>
                        </div>
                        <div class="col-4">
                            <div class="card mx-1 p-2 text-center deep-dark">Length: {{ length }} </div>
                        </div>
                        <div class="col-12">
                            <div class="card mt-2 deep-dark mx-1">
                                <div class="row">
                                    <div class="col-6 text-center p-2">Deaths: {{ kills.count }}</div>
                                    <div class="col-6 text-center p-2">Assists: {{ assists.count }}</div>
                                    <div class="col-6 text-center p-2">Spent: {{ spent }}</div>
                                    <div class="col-6 text-center p-2">Purchases: {{ purchases_count }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}