{% extends 'projekt/layout.html' %}

    {% block content %}
        <div class="container mt-5">
            <table class="table table-dark table-striped table-hover table-sm overflow-hidden" style="border-radius: 10px;">
                <thead>
                    <tr>
                        <th scope="col" class="text-white">Name</th>
                        <th scope="col" class="text-white">Price</th>
                        <th scope="col" class="text-white">Type</th>
                        <th scope="col" class="text-white">Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td class="text-white">{{ item.name }}</td>
                            <td class="text-white">{{ item.price }}</td>
                            <td class="text-white">{{ item.type }}</td>
                            <td class="text-white">{{ item.description }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endblock %}