{% extends 'projekt/layout.html' %}

    {% block content %}
        <div class="container mt-5">
            <div class="row text-white bg-dark" style="border-radius: 10px; min-height: 500px;">

                <div class="col-3 mt-2 mb-2" style="border-right: #2c3034 1px solid">
                    {% for match in matches %}
                        <a class="btn btn-dark w-100 deep-dark" type="button" href="{% url "matches_id" match.match.pk %}">{{ match.match.start_date }}</a>
                    {% endfor %}
                </div>

                {% if display_match %}
                    <div class="col-9 mt-2">
                        <div class="row">
                            <div class="col-4">
                                <div class="card mx-1 p-2 text-center deep-dark">
                                    {{ display_match.match.start_date }}
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card mx-1 p-2 text-center deep-dark">
                                    K/D/A: {{ kills.count }}/{{ deaths.count }}/{{ assists.count }}
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card mx-1 p-2 text-center deep-dark">
                                    Won rounds: {{ won_rounds }}
                                </div>
                            </div>
                            <div class="col-1 pt-4">
                                <p class="align-middle">Attackers:</p>
                            </div>
                            <div class="col-11 d-flex pt-4">
                                {% for round in rounds_att %}
                                    <a href="/game/rounds/{{ round.id }}" class="card mx-1 w-100 text-center justify-content-center text-decoration-none text-white" style="background-color: {% if round.won %}#21ab00{% else %}#c20000{% endif %};">{{ round.kills.count }}</a>
                                {% endfor %}
                                {% with ''|center:rest_attackers as range %}
                                    {% for _ in range %}
                                        <div class="card mx-1 w-100 text-center justify-content-center deep-dark">-</div>
                                    {% endfor %}
                                {% endwith %}
                            </div>
                            <div class="col-1 pt-2">
                                <p class="align-middle">Defenders:</p>
                            </div>
                            <div class="col-11 d-flex pt-2">
                                {% for round in rounds_def %}
                                    <a href="/game/rounds/{{ round.id }}" class="card mx-1 w-100 text-center justify-content-center text-decoration-none text-white" style="background-color: {% if round.won %}#21ab00{% else %}#c20000{% endif %};">-</a>
                                {% endfor %}
                                {% with ''|center:rest_defenders as range %}
                                    {% for _ in range %}
                                        <div class="card mx-1 w-100 text-center justify-content-center deep-dark">-</div>
                                    {% endfor %}
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                {% endif %}

            </div>

            {% if display_match %}
                <div class="row text-white bg-dark mt-2" style="border-radius: 10px;">
                    <div class="p-2">
                        {% for comment in comments %}
                            <div class="card deep-dark p-2 mb-2">
                                <small style="font-size: 12px;">
                                    {{ comment.user.nickname }}
                                </small>
                                <div style="color: #ababac">
                                    {{ comment.message }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-12 p-2">
                        <div>
                            <form method="post" class="form d-flex flex-row w-100">
                                {% csrf_token %}
                                <input type="text" name="message" class="form-control border-light">
                                <input type="submit" class="btn btn-dark deep-dark" value="Save">
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endblock %}