{% extends 'projekt/layout.html' %}

    {% block content %}
        <div class="container mt-5">
            <div class="row text-white bg-dark" style="border-radius: 10px; min-height: 500px;">
                <div class="p-3 col-12">
                    {% for key, value in matches.items %}
                        <div class="deep-dark card {% if not forloop.last %}mb-3{% endif %}">
                            <div class="d-flex mt-2">
                                <div class="vr mx-2"></div>
                                <h4>{{ key }}</h4>
                            </div>
                            <div>
                                {% for purchase in value %}
                                    <div class="d-flex p-2">
                                        <div class="mx-3">
                                            {{ purchase.item.name }}
                                        </div>
                                        <div class="mx-1">
                                            {{ purchase.amount }}ks
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endblock %}