{% extends 'projekt/layout.html' %}

    {% block content %}
        <div class="container mt-5">
            <div class="row text-white bg-dark" style="border-radius: 10px;">
                <form method="post">
                    <div class="col-12 p-2">
                        <div class="d-flex">
                            {% csrf_token %}
                            <input type="date" name="search" class="form-control">
                            <input type="submit" class="btn btn-dark deep-dark">
                        </div>
                    </div>
                </form>
            </div>
            <div class="mt-2 row text-white bg-dark" style="border-radius: 10px;">
                {% for match in matches %}
                    <a href="{% url 'match_view' match.id %}" class="text-decoration-none px-0">
                        <div class="m-2 text-white card deep-dark p-2 btn btn-dark">{{ match.start_date }}</div>
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endblock %}