{% extends 'projekt/layout.html' %}

    {% block content %}
        <div class="container mt-5 p-2">
            <div class="row text-white bg-dark" style="border-radius: 10px; min-height: 500px;">
                <div>
                    <h1 class="m-4 text-center">Welcome to this website</h1>
                    <div>
                        <p class="d-block mx-2">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam eget nisl. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam dictum tincidunt diam. Duis risus. Curabitur sagittis hendrerit ante. Integer rutrum, orci vestibulum ullamcorper ultricies, lacus quam ultricies odio, vitae placerat pede sem sit amet enim. Donec quis nibh at felis congue commodo. Morbi scelerisque luctus velit. Phasellus et lorem id felis nonummy placerat. Morbi leo mi, nonummy eget tristique non, rhoncus non leo. Nam quis nulla. Integer vulputate sem a nibh rutrum consequat. Fusce tellus.
                        </p>
                        <p class="d-block mx-2">
                            Integer imperdiet lectus quis justo. Phasellus et lorem id felis nonummy placerat. Nullam lectus justo, vulputate eget mollis sed, tempor sed magna. Fusce dui leo, imperdiet in, aliquam sit amet, feugiat eu, orci. Praesent vitae arcu tempor neque lacinia pretium. In dapibus augue non sapien. Nullam sit amet magna in magna gravida vehicula. Duis pulvinar. In rutrum. Sed ac dolor sit amet purus malesuada congue.
                        </p>
                    </div>
                    <div class="row mt-5">
                        <h3 class="col-12 text-center">Fast navigation</h3>
                        <div class="col-4 mt-4">
                            <a href="{% url 'login' %}" class="btn btn-dark w-100 deep-dark">
                                Login
                            </a>
                        </div>
                        <div class="col-4 mt-4">
                            <a href="{% url 'register' %}" class="btn btn-dark w-100 deep-dark">
                                Register
                            </a>
                        </div>
                        <div class="col-4 mt-4">
                            <a href="{% url 'profile' %}" class="btn btn-dark w-100 deep-dark">
                                Profile
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}