{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="strict-origin" />
    <title>Title</title>

    <link rel="stylesheet" href="{% static 'projekt/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'projekt/css/global.css' %}">
    <link rel="stylesheet" href="{% static 'projekt/fontawesome/css/all.css' %}">

    <style>
        body
        {
            background: #171812;
        }

        .deep-dark
        {
            background-color: #171812;
        }

        {% block styles %}{% endblock %}
    </style>

    <script src="{% static 'projekt/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</head>
<body>
    <header>
        {% if not hide_nav %}
            {% include 'projekt/partials/header.html' %}
        {% endif %}
        {% block header %}{% endblock %}
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>