{% extends 'projekt/layout.html' %}

    {% block content %}
        <div class="container">
            <div class="row justify-content-center align-items-center mt-5">
                <div class="card bg-dark text-white col-xl-4 col-lg-6 col-md-7 col-sm-9 col-11" style="border-radius: 20px;">
                    <div class="card-body p-5 text-center">
                        <div class="mb-md-5 mt-md-4 pb-0">
                            <h1 class="fw-bold mb-2 text-uppercase">Login</h1>

                            <form method="post">
                                {% csrf_token %}
                                <div class="mb-4" style="text-align: left">
                                    <label class="form-label" for="nickname">Username</label>
                                    <input type="text" id="nickname" name="nickname" class="form-control form-control-lg" />
                                </div>

                                <div class="mb-5" style="text-align: left">
                                    <label class="form-label" for="password">Password</label>
                                    <input type="password" id="password" name="password" class="form-control form-control-lg" />
                                </div>

                                <input type="submit" class="btn btn-outline-light btn-lg mb-5" style="padding: 7px 20%;" value="Login"/>
                            </form>
                            <p class="mb-0">Don't have an account? <a href="{% url 'register' %}" class="text-white-50 fw-bold">Register</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}