{% extends 'projekt/layout.html' %}

    {% block content %}
        <div class="container mt-5">
            <table class="table table-dark table-striped table-hover table-sm overflow-hidden" style="border-radius: 10px;">
                <thead>
                    <tr>
                        <th scope="col" class="text-white">Nickname</th>
                        <th scope="col" class="text-white">Ranks</th>
                        <th scope="col" class="text-white">Role</th>
                        <th scope="col" class="text-white">Played matches</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td class="text-white">{{ user.nickname }}</td>
                            <td class="text-white">{{ user.rank }}</td>
                            <td class="text-white">{{ user.role }}</td>
                            <td class="text-white">{{ user.matches.count }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endblock %}