{% extends 'projekt/layout.html' %}

    {% block content %}
        <div class="container mt-5">
            <div class="row text-white bg-dark" style="border-radius: 10px; min-height: 500px;">
                <div class="col-12">
                    <div class="row p-2">
                        <div class="col-12">
                            <div class="card deep-dark mx-2 p-2">
                                <h3>{{ user.nickname }}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-3">
                            <div class="card deep-dark mx-2 p-2">
                                Matches played: {{ matches.count }}
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="card deep-dark mx-2 p-2">
                                Rounds played: {{ rounds.count }}
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="card deep-dark mx-2 p-2">
                                Kills: {{ kills.count }}
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="card deep-dark mx-2 p-2">
                                Spent money: {{ spent }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}