{% extends 'projekt/layout.html' %}

    {% block content %}
        <div class="container mt-5">
            <div class="row text-white bg-dark" style="border-radius: 10px; min-height: 500px;">
                <div class="col-12">
                    <table class="table table-dark table-striped table-hover table-sm overflow-hidden">
                        <thead>
                            <tr>
                                <th scope="col" class="text-white">#id</th>
                                <th scope="col" class="text-white">Won</th>
                                <th scope="col" class="text-white">Start date</th>
                                <th scope="col" class="text-white">End date</th>
                                <th scope="col" class="text-white">-</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for match in matches %}
                                <tr>
                                    <td class="text-white">{{ match.pk }}</td>
                                    <td class="text-white">{{ match.won }}</td>
                                    <td class="text-white">{{ match.start_date }}</td>
                                    <td class="text-white">{{ match.end_date }}</td>
                                    <td class="text-white d-flex">
                                        <form method="post" action="{% url 'delete_match' match.id %}">
                                            {% csrf_token %}
                                            <input type="checkbox" name="confirmation" class="checkbox-row mx-2">
                                            <input type="submit" value="delete" class="btn btn-dark deep-dark">
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            <form method="post">
                                {% csrf_token %}
                                {% if form.errors %}
                                    <div class="alert alert-danger m-2">
                                        <strong>Error:</strong>
                                        {% for field, errors in form.errors.items %}
                                            {{ field|title }}:
                                            {% for error in errors %}
                                                {{ error }}
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <tr>
                                    <td class="text-white">
                                    </td>
                                    <td class="text-white">
                                        <select name="won" class="form-select bg-dark text-white">
                                            <option value="0">Team 1</option>
                                            <option value="1">Team 2</option>
                                        </select>
                                    </td>
                                    <td class="text-white">
                                        <input type="datetime-local" name="start_date" class="form-control">
                                    </td>
                                    <td class="text-white">
                                        <input type="datetime-local" name="end_date" class="form-control">
                                    </td>
                                    <td class="text-white">
                                        <input type="submit" class="btn btn-dark deep-dark w-100">
                                    </td>
                                </tr>
                            </form>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endblock %}