<style>
    .navbar-nav{
        flex-direction: row;
    }
</style>

<nav class="navbar navbar-expand navbar-dark bg-dark">
    <ul class="nav navbar-nav w-100">
        <a class="navbar-brand px-3 m-0" href="{% url 'index' %}">Home</a>
        {% for file in project_templates %}
            {% if file.type == 'item' %}
            <li class="nav-item">
                <a class="nav-link px-3 text-capitalize" href="{{ file.href }}">{{ file.name }}</a>
            </li>
            {% endif %}

            {% if file.type == 'array' %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle px-3 text-capitalize" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ file.name }}
                </a>
                <div class="dropdown-menu dropdown-menu-dark" role="menu" aria-labelledby="navbarDropdown">
                    {% for item in file.items %}
                        {% if not item.admin or item.admin and request.session.is_admin %}
                            <a class="dropdown-item text-capitalize" href="{{ item.href }}">{{ item.name }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </li>
            {% endif %}
        {% endfor %}

        {% if not user_session %}
            <li class="nav-item ms-4">
                <a class="nav-link px-3 text-capitalize" href="{% url "login" %}">login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3 text-capitalize" href="{% url "register" %}">register</a>
            </li>
        {% endif %}

    </ul>

    {% if user_session %}
        <div class="navbar-nav px-4">
            <a class="nav-link text-uppercase" href="{% url "logout" %}">Logout</a>
        </div>
    {% endif %}
</nav>