.form-control, .form-control:focus
{
    background-color: #212529 !important;
    color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 10000s ease-in-out 0s,
                color 10000s ease-in-out 0s;
}